# App
NODE_ENV=development
PORT=3000

# Database (MySQL)
DB_TYPE=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=app
DB_PASS=app
DB_NAME=app

# Auth
JWT_SECRET=supersecret123
JWT_EXPIRES_IN=7d

ADMIN_JWT_SECRET=some-super-secret
ADMIN_JWT_EXPIRES_IN=7d

ADMIN_SEED_EMAIL=admin@example.com
ADMIN_SEED_PASSWORD=Admin123!

SESSION_SECRET=super_secret_very_long
REDIS_URL=redis://127.0.0.1:6379

ADMIN_PANEL_ORIGIN=http://localhost:3001